.content-page{
    --background:#1e1b27!important;
    height: 100vh;  
}

.dash-grid{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    font-family: Calibri;
    height: 100%;
    padding: 7%;
}

.dash-row{
    display: flex;
}

.dash-title{
    color: white;
    font-size: 25px;
   
}

.card-content{
    --background:#272333!important;
}

.dash-title1{
    display: flex;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

.dash-img{
    color:#8E3AC5;
}


.dash-btn{
    --background: #953CCF;
}

.icon-color{
    color: #953CD0;
}

.dash-toolbar{
    color: dark;
}
