.content-page{
    
    --background:#1e1b27!important;
    height: 100vh; 
    
}

.find-grid{
    display: flex;
    flex-direction: column;
    font-family: Calibri;
    height: 100%;
    padding: 7%;
}

.find-btn{
    --background: #953CCF;
    margin: 10px;
}

.find-row{
    display: flex;
    justify-content:space-between;
}

.card-content{
    --background:#272333!important;
}
