.content-page{
    
    --background:#1e1b27!important;
    height: 100vh; 
    
}

.find-grid{
    display: flex;
    flex-direction: column;
    font-family: Calibri;
    height: 100%;
    padding: 7%;
}

.find-btn{
    --background: #953CCF;
    margin: 10px;
}

.find-row{
    display: flex;
    justify-content:space-between;
    margin-right: 50px;
}

.card-content{
    --background:#272333!important;
}


.profile-pic {
    flex: 2;
    width: 30px;
    height: 31.36px;
    border-radius: 200px;
    margin-top: 15px;
    margin-left: 20px;
  
  }

.chats-vertical-dots{
    margin-top: 10px;
    margin-right: 20px; 
    --background: #953cd0;
   
}

.card{
    --background:#272333!important;
}


.search_bar{
     --background: #1E1B27;
}

.head{
    color: white;
}