/* .page{
    --background:#1e1b27;
}


.titles{
    font-family: Calibri;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
    color: white;
    margin-top: 100px;
    margin-bottom: 30px;
}

.title1{
    font-family: Calibri;
    font-size: 18px;
    font-weight: 500;
    color: grey;
    margin-top: 10px;
    margin-bottom: 60px;
}

.input-label{
    color: white;
    font-family: Calibri;
    font-size: 18px; 
    font-weight: 500;
    margin-left: 15px;
   
}

.input{
    border: 2px solid white;
    border-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    margin-left: 20px;
    color: white;
}

.button{
   color:white;
   --background:#953cd0;
   
   margin-bottom: 20px;
}

.label{
    color: white;
    font-family: Calibri;
    font-size: 15px;
    font-weight: 300;
    margin-left: 60px;
    
}

.router_btn{
    margin-bottom:10px;
    font-size: 11px;
    margin-left:5px;
    border-radius: 15px;
    --background: transparent;
}

.google{
    margin-top: 10px;
    height: 35px;
    width: 30%;
}


.icons{
    
    margin-left: 80px; 
}


.signup{
    display: flex;
    justify-content: start;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* .logo{
    display:flex;
    justify-content: space-between;

} */ 
